@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* other CSS rules */


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Draggable Boxes Styles */
/* In your styles.css or other CSS file */
.resizer-container:hover .resizer-pill {
  opacity: 0;
}
.resizer-container:hover .resizer-line-active {
  display: block;
  opacity: 1;
}
.resizer-pill {
  opacity: 1;
  transition: opacity 0.3s;  /* Optional: for smooth fade-out */
}
.resizer-line-active {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;  /* Optional: for smooth fade-in */
}


/* React canvas no grid background for Whiteboard */
.react-canvas-draw {
  background: none !important;
}

.react-canvas-draw canvas {
  background-image: none !important;
}



/* Table Workspace - hansontable styles */
/* Remove background and borders from row and column headers */



/* Active column header */
/* For column headers (X-axis) */

.handsontable th {
  color: #757575 !important;
  background: transparent !important; 
}


/* Remove vertical borders for all cells including headers */
.handsontable td, .handsontable th {
  /* border-left: none !important; */
  /* border-right: none !important; */
}


/* Since the vertical borders are removed, the horizontal borders between cells can appear double-sized. 
 We can adjust the bottom border to make it look consistent */



:root {
  --handsontable-border-color: #f1f1f1; /* Adjust this value to change the border color */
}

/* Set horizontal borders to the defined color */
.handsontable td, .handsontable th {
  border-color: var(--handsontable-border-color) !important;
}

/* Adjust the bottom border to make it look consistent */
.handsontable td {
  border-bottom: 1px solid var(--handsontable-border-color) !important;
}


/* Set the text color for the cells to a lighter gray */
.handsontable td {
  color: #b0b0b0 !important; /* Adjust the gray color as per your preference */
}

/* Set the text color for the active cell editor to a lighter gray */
.handsontable .handsontableInput {
  color: #b0b0b0 !important; /* Adjust the gray color as per your preference */
}

.tldraw__editor * {
  font-family: 'Inter', sans-serif !important;
}


